$color-gray-1: #38455b;
$color-gray-2: #737b8b;
$color-gray-3: #d8d8d8;
$color-gray-4: #abb0b9;
$color-gray-5: #989eaa;
$color-gray-6: #eceeef;
$color-gray-7: #989898;
$color-gray-8: #cccccc;
$color-grey-10: #f1f1f1;
$color-gray-11: #dddddd;
$color-red-1: #ad434c;
$color-red-3: #d0021b;
$color-orange-1: #f5a623;

$dusty-red: #ad434c;
$dusty-red-30: rgba(173, 67, 76, 0.4);
$jade: #199c68;
$dark-green: rgba(83, 185, 74, 0.6);
$mid-green: #53b94a;
$green: #3db049;
$silver: #d9dbe0;
$silver-fish: #e2e4e7;
$warm-grey: #979797;
$heavy-grey: #9b9b9b;
$light-grey: #d4d2d2;
$hover-grey: rgba(216, 216, 216, 0.67);
$pale-grey: #f5f6f7;
$pale-grey-2: #dcdada;
$pinkish-grey: #cccccc;
$steel-grey: #737b8b;
$dark: #2b3546;
$dark-20: rgba(0, 0, 0, 0.2);
$dark-30: rgba(0, 0, 0, 0.3);
$dark-50: rgba(0, 0, 0, 0.5);
$dark-65: rgba(0, 0, 0, 0.65);
$dark-20: rgba(43, 53, 70, 0.2);

$color-blue-1: #4a90e2;
$color-blue-2: #008ee0;
$color-blue-3: #1abae6;
$color-blue-4: #1799e3;
$color-blue-5: #4997c4;
$color-blue-6: #667eea;
$color-blue-7: #a4cde4;
$color-blue-8: #0984c9a3;
$color-purple-1: #764ba2;
$water-blue: #0b84c9;
$teal: #19bae7;
$dark-blue: #38455b;
$pale-blue: #6699a7;
$sky-blue: #1abae6;
$light-red: #fe665c;
$dusty-red-40: rgba(173, 67, 76, 0.4);
$color-orange-1: #f5a623;
$color-orange-2: #ff8c00;
$error-red: #f44336;
$color-red: #b54a54;
$white: #ffffff;
$dark-black: #333333;
$heading-black: #3a3a3a;
$light-black: #313d50;
$color-blue-7: #0790d2;
$dark-blue-1: #313d50;
$dark-black-1: #3a3a3a;
$color-gray-80: #ccc;
$color-gray-97: #f7f7f7;
$chinese-silver: rgba(204, 204, 204, 0.91);
$milky-grey: #8992a1;
$dark-grey: #3f5067;
$dark-silver: #37465b;
$gun-metal: rgba(84, 88, 90, 0.08);
$disabled-btn-color: #769cfd;
$off-green: #74aa50;
$light-dark: #545964;
